{% load static %}
<section id="bio" class=" overflow-hidden">
  <div class="row">
    <!--Left-->
    <div class="col-md-4 pt-md-5 pb-md-5 gray-3 text-center d-flex align-content-start justify-content-md-end justify-content-center flex-wrap">
      <div class=" pt-4 pb-4">
        <h3 class="text-primary">Sobre</h3>
        <p class="lead text-secondary">Um pouco sobre mim</p>
      </div>
    </div>
    <!--endLeft-->
    <!--Right-->
    <div class="col-md-8 p-5 gray-4 d-flex align-content-md-center flex-wrap text-wrap text-justify">
      <!--linebreaks permite o texto ser formatado com quebras de linhas ? -->
      <p>{{ employee.about|linebreaks  }}</p>
      <!--Endright-->
    </div>
</section>
