{% load static %}


<section id="education" class="overflow-hidden">
  <div class="row">
    <!--Left-->
    <div class="col-md-4 p-5 gray-3 text-center d-flex align-content-start justify-content-md-end justify-content-center flex-wrap">
      <div class=" p-2">
        <h3 class="text-primary">Education</h3>
        <p class="lead text-secondary">Formações Escolares</p>
      </div>
    </div>
    <!--endLeft-->
    <!--Right-->
    <div class="col-md-8 p-5 gray-4 d-flex align-content-md-center flex-wrap text-wrap">
      <div class="timeline">
        <i class="fas fa-circle text-primary pb-4" style="padding-left: 2.7rem; font-size: 0.75rem;"></i><span class="pl-4 text-secondary">1209-1209, Florestal-MG</span>
        <div class="pl-5 ml-5 mb-0" style="border-left: 2px solid">
          <h4>Iniciação Científica</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum qui molestiae inventore tenetur excepturi, asperiores repudiandae, id magnam impedit iste, dolore corporis. Reiciendis commodi iste quae sapiente a totam perspiciatis!</p>
        </div>
        <i class="fas fa-circle text-primary pb-4" style="padding-left: 2.7rem; font-size: 0.75rem;"></i><span class="pl-4 text-secondary">1209-1209, Florestal-MG</span>
        <div class="pl-5 ml-5 mb-0" style="border-left: 2px solid">
          <h4>UFV</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum qui molestiae inventore tenetur excepturi, asperiores repudiandae, id magnam impedit iste, dolore corporis. Reiciendis commodi iste quae sapiente a totam perspiciatis!</p>
        </div>
        <i class="fas fa-circle text-primary pb-4" style="padding-left: 2.7rem; font-size: 0.75rem;"></i><span class="pl-4 text-secondary">1209-1209, Florestal-MG</span>
        <div class="pl-5 ml-5 mb-0" style="border-left: 2px solid">
          <h4>SENAI</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum qui molestiae inventore tenetur excepturi, asperiores repudiandae, id magnam impedit iste, dolore corporis. Reiciendis commodi iste quae sapiente a totam perspiciatis!</p>
        </div>
        <i class="fas fa-circle text-primary pb-4" style="padding-left: 2.7rem; font-size: 0.75rem;"></i><span class="pl-4 text-secondary">1209-1209, Florestal-MG</span>
        <div class="pl-5 ml-5 mb-0" style="border-left: 2px solid">
          <h4>SENAI</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum qui molestiae inventore tenetur excepturi, asperiores repudiandae, id magnam impedit iste, dolore corporis. Reiciendis commodi iste quae sapiente a totam perspiciatis!</p>
        </div>
        <i class="fas fa-circle text-primary pb-4" style="padding-left: 2.7rem; font-size: 0.75rem;"></i><span class="pl-4 text-secondary">1209-1209, Florestal-MG</span>
        <div class="pl-5 ml-5 mb-0" style="border-left: 2px solid">
          <h4>Ensino Médio</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum qui molestiae inventore tenetur excepturi, asperiores repudiandae, id magnam impedit iste, dolore corporis. Reiciendis commodi iste quae sapiente a totam perspiciatis!</p>
        </div>
        <i class="fas fa-circle text-primary pb-4" style="padding-left: 2.7rem; font-size: 0.75rem;"></i><span class="pl-4 text-secondary">1209-1209, Florestal-MG</span>
        <div class="pl-5 ml-5 mb-0" style="border-left: 2px solid">
          <h4>SENAI</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum qui molestiae inventore tenetur excepturi, asperiores repudiandae, id magnam impedit iste, dolore corporis. Reiciendis commodi iste quae sapiente a totam perspiciatis!</p>
        </div>
      </div>
    </div>
    <!--Endright-->
  </div>
</section>
