{% load static %}

<section id="education" class="overflow-hidden">
  <div class="row">
    <!--Left-->
    <div class="col-md-4 p-5 gray-3 text-center d-flex align-content-start justify-content-md-end justify-content-center flex-wrap">
      <div class=" p-2">
        <h3 class="text-primary">Education</h3>
        <p class="lead text-secondary">Formações Escolares</p>
      </div>
    </div>
    <!--endLeft-->
    <!--Right-->
    <div class="col-md-8 p-5 gray-4 d-flex align-content-md-center flex-wrap text-wrap">
      <div class="timeline">
        {% for school in educations %}
        <i class="fas fa-circle text-primary pb-4" style="padding-left: 2.7rem; font-size: 0.75rem;"></i><span class="pl-4 text-secondary">{{ school.start }}-{{ school.end }}, {{ school.city }}, {{ school.state }}</span>
        <div class="pl-5 ml-5 mb-0" style="border-left: 2px solid">
          <h4 class="text-primary">{{ school.institution }}</h4>
          <p class="text-justify">{{ school.description|linebreaks }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--Endright-->
  </div>
</section>
