{% load static %}

<section id="extraEducation" class="overflow-hidden">
  <div class="row ">
    <!--Left-->
    <div class="col-md-4 pt-md-5 pb-md-5 gray-2 text-center d-flex align-content-start justify-content-md-end justify-content-center flex-wrap">
      <div class=" pt-4 pb-4">
        <h3 class="text-primary">Extra Education</h3>
        <p class="lead text-secondary">Atividades escolares extracurriculares</p>
      </div>
    </div>
    <!--endLeft-->
    <!--Right-->
    <div class="col-md-8 p-md-5 gray-1 d-flex align-content-md-center flex-wrap text-wrap">
      <div class="card-columns">
        {% for extra in extraEducations %}
        <div class="card bg-transparent">
          <div class="card-body">
            <h4 class="text-primary card-header">{{ extra.name }}</h4>
            <p class="text-justify card-text">{{ extra.description|linebreaks }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--Endright-->
    </div>
</section>
