{% load static %}

<section id="extraEducation" class="overflow-hidden">
  <div class="row ">
    <!--Left-->
    <div class="col-md-4 pt-md-5 pb-md-5 gray-2 text-center d-flex align-content-start justify-content-md-end justify-content-center flex-wrap">
      <div class=" pt-4 pb-4">
        <h3 class="text-primary">Extra Education</h3>
        <p class="lead text-secondary">Atividades escolares extracurriculares</p>
      </div>
    </div>
    <!--endLeft-->
    <!--Right-->
    <div class="col-md-8 p-md-5 gray-1 d-flex align-content-md-center flex-wrap text-wrap">
      <div class="row w-100">
        <div class="col-md-6">
          <h4 class="text-primary">Iniciação Científica</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ad impedit neque iusto repellendus quos aperiam placeat est, alias reiciendis doloremque sapiente maxime, autem veniam fugit cum ducimus accusamus esse.</p>
        </div>
        <div class="col-md-6">
          <h4 class="text-primary">Artigo Cintífico</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ad impedit neque iusto repellendus quos aperiam placeat est, alias reiciendis doloremque sapiente maxime, autem veniam fugit cum ducimus accusamus esse.</p>
        </div>
        <div class="col-md-6">
          <h4 class="text-primary">Mensão Honrosa</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ad impedit neque iusto repellendus quos aperiam placeat est, alias reiciendis doloremque sapiente maxime, autem veniam fugit cum ducimus accusamus esse.</p>
        </div>
        <div class="col-md-6">
          <h4 class="text-primary">Maratona Cultural Grupo Fiat</h4>
          <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ad impedit neque iusto repellendus quos aperiam placeat est, alias reiciendis doloremque sapiente maxime, autem veniam fugit cum ducimus accusamus esse.</p>
        </div>
      </div>
      <!--Endright-->
    </div>
</section>
