{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Header -->
{% include 'header.html' %}
<!-- Endheader -->

<!--Bio-->
{% include 'about.html' %}
<!--Endbio-->

<!--Skills-->
{% include 'skill.html' %}
<!--Endskill-->

<!-- Education -->
{% include 'education.html' %}
<!-- Endeducation -->

<!-- Others -->
{% include 'extra-education.html' %}
<!--Endothers-->

<!-- Social Medias -->
{% include 'social-media.html' %}
<!-- Endsocialmedias -->

<!-- Footer -->
{% include 'contact.html' %}
<!-- Endfooter -->

{% endblock content %}
