{% load static %}

<section id="skills" class="overflow-hidden">
  <div class="row ">
    <!--Left-->
    <div class="col-md-4 pt-5 pb-5 gray-1 d-flex text-center align-content-start justify-content-md-end justify-content-center flex-wrap">
      <div class="pt-2 pb-2">
        <h3 class="text-primary">Skills</h3>
        <p class="lead text-secondary">Principais Frameworks e Linguagens</p>
      </div>
    </div>
    <!--endLeft-->



    <!--Right-->
    <div class="col-md-8 gray-2 p-5 pb-0 d-flex align-content-md-center flex-wrap text-wrap">
      <div class="card-columns">
        {% for skill in skills %}
        <div class="card bg-transparent">
          <div class="card-body">
            <h4 class="text-primary card-header">{{ skill.name }}</h4>
            <p class="text-justify card-text">{{ skill.description|linebreaks }}</p>
            <div class="progress mb-5">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: {{ skill.progress }}%;" aria-valuenow="{{ skill.progress }}" aria-valuemin="0" aria-valuemax="100">{{ skill.progress }}% </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>



    <!-- <div class="row w-100">
        {% for skill in skills %}
        <div class="col-md-6">
          <h4 class="text-primary">{{ skill.name }}</h4>
          <p class="text-justify">{{ skill.description|linebreaks }}</p>
          <div class="progress mb-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: {{ skill.progress }}%;" aria-valuenow="{{ skill.progress }}" aria-valuemin="0" aria-valuemax="100">Progresso</div>
          </div>
        </div>
        {% endfor %}
      </div> -->
  </div>
  <!--Endright-->
  </div>
</section>
