{% load static %}

<section id="social" class=" overflow-hidden">
  <div class="row">
    <!--Left-->
    <div class="col-md-4 pt-md-5 pb-md-5 gray-3 text-center d-flex align-content-start justify-content-md-end justify-content-center flex-wrap">
      <div class=" pt-4 pb-4">
        <h3 class="text-primary">Social Medias</h3>
        <p class="lead text-secondary">Entre em contato</p>
      </div>
    </div>
    <!--endLeft-->
    <!--Right-->
    <div class="col-md-8 p-md-5 gray-4 d-flex align-content-md-center flex-wrap text-wrap">
      <div class="row">
        <div class="p-5">
          <a href="#"><i class="h3 text-primary fa fa-facebook" aria-hidden="true"></i>
            <h4 class="d-inline pl-3 text-primary">Facebook</h4>
          </a>

        </div>
        <div class="p-5">
          <a href="#"><i class="h3 text-primary fa fa-twitter" aria-hidden="true"></i>
            <h4 class="d-inline pl-3 text-primary">Twiter</h4>
          </a>
        </div>
        <div class="p-5">
          <a href="#"><i class="h3 text-primary fa fa-github" aria-hidden="true"></i>
            <h4 class="d-inline pl-3 text-primary">GitHub</h4>
          </a>
        </div>
        <div class="p-5">
          <a href="#"><i class="h3 text-primary fa fa-instagram" aria-hidden="true"></i>
            <h4 class="d-inline pl-3 text-primary">Instragram</h4>
          </a>
        </div>
        <div class="p-5">
          <a href="#"><i class="h3 text-primary fa fa-linkedin" aria-hidden="true"></i>
            <h4 class="d-inline pl-3 text-primary">Linkedin</h4>
          </a>
        </div>
      </div>
    </div>
    <!--Endright-->
  </div>
</section>
